* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  background: #131517;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --primary: linear-gradient(90deg, #eb9204 1.67%, #83e868 89.99%);
}

.container {
  width: 1400px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* Navigation */
.navbar {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 36px;
}

.nav_link {
  color: #858b93;
}

.active {
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 2px;
  background-color: greenyellow;
  left: 0;
  bottom: -5px;
}

.sign_in_btn {
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--text-color-dark-blue, #272633);
  padding: 8px 27px 8px 26px;
}

/* Hero */
.hero__inner {
  margin-top: 159px;
  display: flex;
}

/* left hero */
.aside_bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bubble {
  box-shadow: 0px 39px 31px 0px #313141 inset;
  background-color: linear-gradient(
    180deg,
    #111118 4.96%,
    rgba(43, 43, 61, 0) 100%
  );
  border-radius: 50%;
}

.aside_bubble:first-child {
  margin-left: 20px;
}

.aside_bubble:last-child {
  margin-right: 30px;
}
.bubble1 {
  width: 121px;
  height: 121px;
}

.bubble2 {
  margin-top: 41px;
  width: 39px;
  height: 39px;
}

.bubble3 {
  margin-top: 36px;
  width: 25px;
  height: 25px;
}
.bubble4 {
  margin-top: 39px;
  width: 14px;
  height: 14px;
}

.mid_content {
  width: 783px;
  margin-left: 31px;
  margin-right: 33px;
}

.mid_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_content {
  width: 783px;
  text-align: center;
  color: #f9f9f9;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
}

.mid_content_desc {
  margin-top: 34px;
  width: 447px;
  font-size: 1.6rem;
  line-height: 26px;
  color: var(--text-color-gray-1, #858b93);
  text-align: center;
}

.special_text {
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid var(--text-color-dark-blue, #272633);
  border: 1px dashed #ccc;
  position: relative;
}
.special_text::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 9px;
  background-color: #ae8ff9;
  border-radius: 4.5px 4.5px 4.5px 0px;
  transform: rotate(256deg);
  top: -9px;
  left: -10px;
}

.special_text::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 9px;
  background-color: #ff7667;
  border-radius: 4.5px 4.5px 4.5px 0px;
  transform: rotate(-179.262deg);
  top: 75px;
  left: -10px;
}

.mid_link {
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  width: 199px;
  height: 54px;
  line-height: 54px;
  border-radius: 8px;
  color: #f9f9f9;
}

.btn1 {
  background: var(--primary);
}

.btn2 {
  background-color: #282c30;
}

/* dashboard */
.dashboard_inner {
  margin: 111px auto 0;
  width: 848px;
  height: 366px;
  border-radius: 8px 8px 0px 0px;
  background: #1f2326;
  position: relative;
}

/* Dashboard Text */
.dashboard_ui {
  position: relative;
}
.dashboard_ui__heading {
  position: absolute;
  display: flex;
  align-items: center;
  padding-top: 18px;
  margin-left: 16px;
}

.icon_dashboard {
  margin-left: 25px;
  margin-right: 17px;
}

.dasboard_text {
  color: #98989c;
  text-align: center;
  font-size: 1.4ren;
  font-weight: 600;
  line-height: normal;
}

.dashboard_ui__text {
  margin-top: 51px;
  margin-left: 16px;
  color: #f9f9f9;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  margin-top: 51px;
}

.selection_top,
.selection_top2 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
  position: absolute;
  margin-top: 81px;
  width: 192px;
  height: 39px;
}

.selection_top2 {
  margin-top: 133px;
  background: transparent;
}

.selection_top:hover,
.selection_top2:hover {
  background: #2b2d2f;
  cursor: pointer;
}

.selection_top_text {
  color: #858b93;
  font-size: 1.2rem;
}

.selection_top_text:hover {
  color: #d5d5d6;
  font-weight: 600;
}
/* right option */

.collection_text {
  position: absolute;
  margin-top: 51px;
  margin-left: 16px;
  color: #f9f9f9;
  font-size: 1.4rem;
  font-weight: 600;
}

.left_dashboard__heading {
  margin-top: 26px;
  padding-left: 25px;
  display: flex;
  gap: 65px;
}

.collection_text2 {
  color: #f9f9f9;
  font-size: 1.4rem;
  font-weight: 600;
}

/* 
**** LEFT DASHBOARD
 */
.left_dashboard {
  position: absolute;
  background: #0d1012;
  border-radius: 15px 15px 22px 22px;
  width: 216px;
  height: 335px;
  margin-top: 177px;
  margin-left: -51px;
}

.left_dashboard__option {
  margin-top: 21px;
  margin-left: 15px;
  margin-right: 13px;
  border-radius: 13px;
  background: #14181b;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 15px;
}
.left_dashboard__option_heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left_dashboard__option_desc__title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}
.left_dashboard__option_desc__content {
  color: #858b93;
  font-size: 1rem;
  line-height: normal;
}
.chart {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.timeGone_num {
  color: #858b93;
  font-size: 1rem;
  line-height: normal;
}

/* RIGHT DASHBOARD */

.right_dashboard {
  position: absolute;
  width: 641px;
  height: 338px;
  background: #0d1012;
  margin-top: 28px;
  margin-left: 192px;
  margin-right: 15px;
}

/* End right dashboard */
.block {
  display: flex;
  gap: 53px;
  padding: 0 30px;
}
.right_dashboard__heading {
  display: flex;
  align-items: center;
  padding-top: 25px;
  margin-left: 140px;
}

.right_db_desc {
  color: #f9f9f9;
  font-size: 1.4rem;
  margin-left: 8px;
  margin-right: 281px;
}

.contact_Us {
  margin-left: 76px;
}

.sort_line {
  display: flex;
  gap: 8px;
  justify-content: right;
}

.sort_line_text {
  color: #838386;
  font-size: 1.2rem;
}

.select {
  margin-top: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 32px;
  width: 362px;
  height: 30px;
  border-radius: 10px;
  background: #14181b;
}

.select_text {
  color: #9ea1a7;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
}

.select_textbold {
  color: #c6c7ca;
  font-weight: 600;
  line-height: normal;
}

.right_block {
  margin-top: 11px;
}

.right_block__text {
  color: #f9f9f9;
  font-size: 1.4rem;
  margin-bottom: 9px;
}
.right_block__img {
  width: 167px;
  height: 218px;
  object-fit: cover;
}

.right_block_pic {
  position: relative;
}

.right_block_pic__icon {
  position: absolute;
  margin-top: 55%;
  margin-left: -60%;
}

.large_bubble {
  position: absolute;
  width: 154px;
  height: 154px;
  border-radius: 50%;
  fill: linear-gradient(183deg, #8ae764 4.96%, #e99506 100%);
  box-shadow: 0px 39px 31px 0px #113719 inset;
  margin-left: 90%;
  margin-top: 10%;
}
